
<div class="movie_fave_item">

 <div class="row fave_item_inner_frame">
   <hr>
   <div class="col-9 movie_title_and_view_cont">
     <span class="movie_title"><span class="movie_rank"><%= rank.to_s + ". " %></span><%= movie.title %></span><br/>
       <span> Rating: <%=  movie.movie_ratings.length > 0 && movie.movie_ratings.find {|mr| mr.user_id == user.id } ? movie.movie_ratings.find {|mr| mr.user_id == user.id }.rating_star_num.to_s + " Stars"  : "Not Rated" %> </span>

       <%= form_for movie, :url => url_for(:controller => 'movies', :action => 'edit'), remote: true do |f| %>
         <%= f.hidden_field :title %>
         <%= f.hidden_field :imdb_id %>
         <%= f.submit "View" %>
       <% end %>
    </div>
    <div class="col-3 arrow_box">

      <div class="arrow_wrapper" style="<%= (rank == 1 ? 'visibility:hidden' : '') %>">
       <% unless false %>
         <%= form_for movie, :url => url_for(:controller => 'movies', :action => 'move_up'), html: {class: "up_arrow"}, remote: true do |f| %>
           <%= f.hidden_field :title %>
           <%= f.hidden_field :imdb_id %>
           <%= f.submit "^" %>
         <% end %>
       <% end %>
      </div>
      <div class="arrow_wrapper">
       <% unless rank == favorites_list.movies.length %>
         <%= form_for movie, :url => url_for(:controller => 'movies', :action => 'move_down'), html: {class: "down_arrow"}, remote: true do |f| %>
           <%= f.hidden_field :title %>
           <%= f.hidden_field :imdb_id %>
           <%= f.submit "^" %>
         <% end %>
       <% end %>
      </div>
    </div>
 </div>
  <hr>
</div>