
<% if @errors_msg %>
  <div class="error_msg_div">
    <%= @errors_msg %>
  </div>
<% end %>

<% unless @errors_msg %>
  <div class="search_result_cont_inner_frame">
    <div class="movie_favorite_cont">
        <%= form_for @movie, :url => url_for(:controller => 'movies', :action => @select_or_deselect_action), remote: true do |f| %>
           <% (Movie.column_names - ["created_at", "updated_at"]).each do |name| %>
             <%= f.hidden_field name.to_sym, :value => @movie.send(name) %>
           <% end %>
           <%= f.submit (@select_or_deselect_action == MoviesController::SELECT_ACTIONS[:SELECT] ?
             "Add to Favorites" : "Remove from Favorites") %>
        <% end %>
    </div>
    <div class="title_box">
        <%= @movie.title %>
      <br/>
      <span><%= @movie.year %></span>
      <br/>
      <span class="average_rating_str_msg"><%= @movie.average_rating_str_msg %></span>
       <br/>
    </div>
    <div class="poster_box">
      <img src="<%= @movie.poster %>" alt="Movie Poster">
      <div class="comment_and_rating">
        <div class="rating_box">
          <%= form_for @rating, :url => url_for(:controller => 'movies', :action => 'update_rating'),:html=>{:id=>'rating_form'}, remote: true do |f| %>
           <%= f.select :rating_star_num, [["None", nil],["1 Star",1], ["2 Star", 2], ["3 Star", 3], ["4 Star", 4]], :selected => @rating.rating_star_num, onchange: 'javascript: $( this ).trigger("submit.rails")' %>
             <%= f.hidden_field :user_id, :value => @user.id %>
             <%= f.hidden_field :movie_id, :value => @movie.id %>
             <%= f.hidden_field :id, :value => @rating.id %>
           <%= f.submit "Update Rating" %>
          <% end %>
        </div>
        <div class="comment_box">
           <div class="comment_box_actual">
             <%= render :partial => "/movie_comments/movie_comments_form_not_active", :locals => { } %>
           </div>
        </div>
        <div class="other_lists_box" style="<%= @movie.favorites_lists.reject { |fl| fl.user_id == @user.id }.length > 0 ? '' : 'display: none'; %>">
          <span class="other_lists_box_header">Saved in other Fave Lists...</span><br/>
          <% @movie.favorites_lists.reject { |fl| fl.user_id == @user.id }.each.with_index do |fl,i| %>
           <span> <%= i + 1 %>. <%= fl.user.email %></span><br/>
          <% end %>
        </div>
      </div>

    </div>
    <div class="plot_box">
      <%= @movie.plot %>
    </div>
  </div>
<% end %>