
<% if @errors_msg %>
  <div class="error_msg_div">
    <%= @errors_msg %>
  </div>
<% end %>

<% unless @errors_msg %>
  <div class="search_result_cont_inner_frame">
    <div class="movie_favorite_cont">
        <%= form_for @movie, :url => url_for(:controller => 'movies', :action => @select_or_deselect_action), remote: true do |f| %>
           <% (Movie.column_names - ["created_at", "updated_at"]).each do |name| %>
             <%= f.hidden_field name.to_sym, :value => @movie.send(name) %>
           <% end %>
           <%= f.submit (@select_or_deselect_action == MoviesController::SELECT_ACTIONS[:SELECT] ?
             "Add to Favorites" : "Remove from Favorites") %>
        <% end %>
    </div>
    <div class="title_box">
        <%= @movie.title %>
      <br/>
      <span><%= @movie.year %></span>
    </div>
    <div class="poster_box">
      <img src="<%= @movie.poster %>" alt="Movie Poster">
      <div class="comment_and_rating">
        <div class="rating_box">
        </div>
        <div class="comment_box">
           <div class="comment_box_actual">
             <%= render :partial => "/movie_comments/movie_comments_form_not_active", :locals => { } %>
           </div>
        </div>
      </div>
    </div>
    <div class="plot_box">
      <%= @movie.plot %>
    </div>
  </div>
<% end %>